/* ========== Cores */
/* ========== Font */
/* ========== Screen */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* ========== Cores */
/* ========== Font */
/* ========== Screen */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
  line-height: 1; }
  body strong {
    font-weight: 700; }
  body #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px; }
  body #myBtn:hover {
    background-color: #3e4095; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  a:hover, a:focus {
    text-decoration: none !important;
    color: #3e4095; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  min-height: 650px;
  background-image: url("../images/slide-corpo-clinico.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #FFF;
  background-attachment: fixed;
  background-size: cover; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header .top-bar {
    background-color: #FFF;
    position: fixed;
    z-index: 1000;
    height: 150px;
    width: 100%; }
  header .boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background: #FFF; }
  header .social {
    float: left;
    margin: 50px 0 0;
    margin-left: 100px; }
    header .social li {
      display: inline-block; }
      header .social li a {
        color: #3e4095;
        float: left;
        display: block;
        border: 1px solid #3e4095;
        padding: 4px;
        width: 25px;
        height: 25px;
        line-height: 12px;
        text-align: center;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        border-radius: 120px; }
  header .telefone {
    float: right;
    margin: 50px 0 0;
    margin-right: 100px;
    clear: both; }
    header .telefone span {
      float: right;
      color: #3e4095;
      font-size: 14px; }
  header .clear {
    clear: both; }
  header .logo {
    text-align: center; }
  header .logo-align {
    clear: both;
    display: inline-block;
    margin: 10px 0 0;
    margin-left: 30px; }
  @media (max-width: 991px) {
    header nav {
      display: none; } }
  @media (max-width: 440px) {
    header nav {
      display: none; } }
  header nav ul li {
    text-align: center;
    display: inline-block;
    margin: 20px 20px 0 0; }
    header nav ul li a {
      color: #000;
      text-transform: uppercase; }
  header .aortomed-nome {
    text-align: left;
    margin-top: 250px;
    margin-left: 100px; }
    header .aortomed-nome h1 {
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      color: #3e4095; }
  header .barra {
    background-color: #ed3237;
    background-image: -webkit-gradient(linear, 90deg, from(#3e4095), to(#ed3237));
    background-image: -webkit-linear-gradient(90deg, #3e4095, #ed3237);
    background-image: -moz-linear-gradient(90deg, #3e4095, #ed3237);
    background-image: -ms-linear-gradient(90deg, #3e4095, #ed3237);
    background-image: -o-linear-gradient(90deg, #3e4095, #ed3237);
    background-image: linear-gradient(90deg, #3e4095, #ed3237);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#3e4095', EndColorStr='#ed3237');
    width: 27%;
    height: 3px;
    border: none; }

section.sec-corpoclinico .drs-um {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  section.sec-corpoclinico .drs-um [class^="dr-"] {
    color: #3e4095;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    top: 40px;
    text-align: center;
    background-color: #f2efee;
    width: 160px;
    height: 170px; }
    section.sec-corpoclinico .drs-um [class^="dr-"]:hover .middle {
      opacity: 0.3; }
    section.sec-corpoclinico .drs-um [class^="dr-"] .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    section.sec-corpoclinico .drs-um [class^="dr-"].dr-um {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    section.sec-corpoclinico .drs-um [class^="dr-"].dr-dois {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    section.sec-corpoclinico .drs-um [class^="dr-"].dr-tres {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    section.sec-corpoclinico .drs-um [class^="dr-"].dr-quatro {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4; }
section.sec-corpoclinico .drs-dois {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  section.sec-corpoclinico .drs-dois [class^="dr-"] {
    color: #3e4095;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    top: 40px;
    text-align: center;
    background-color: #f2efee;
    width: 160px;
    height: 170px; }
    section.sec-corpoclinico .drs-dois [class^="dr-"]:hover .middle {
      opacity: 0.3; }
    section.sec-corpoclinico .drs-dois [class^="dr-"] .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    section.sec-corpoclinico .drs-dois [class^="dr-"].dr-um {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    section.sec-corpoclinico .drs-dois [class^="dr-"].dr-dois {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    section.sec-corpoclinico .drs-dois [class^="dr-"].dr-tres {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    section.sec-corpoclinico .drs-dois [class^="dr-"].dr-quatro {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4; }
section.sec-corpoclinico .drs-tres {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  section.sec-corpoclinico .drs-tres [class^="dr-"] {
    color: #3e4095;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    top: 40px;
    text-align: center;
    background-color: #f2efee;
    width: 160px;
    height: 170px; }
    section.sec-corpoclinico .drs-tres [class^="dr-"]:hover .middle {
      opacity: 0.3; }
    section.sec-corpoclinico .drs-tres [class^="dr-"] .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    section.sec-corpoclinico .drs-tres [class^="dr-"].dr-um {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    section.sec-corpoclinico .drs-tres [class^="dr-"].dr-dois {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    section.sec-corpoclinico .drs-tres [class^="dr-"].dr-tres {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    section.sec-corpoclinico .drs-tres [class^="dr-"].dr-quatro {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4; }
section.sec-corpoclinico .drs-quatro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  section.sec-corpoclinico .drs-quatro [class^="dr-"] {
    color: #3e4095;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    top: 40px;
    text-align: center;
    background-color: #f2efee;
    width: 160px;
    height: 170px; }
    section.sec-corpoclinico .drs-quatro [class^="dr-"]:hover .middle {
      opacity: 0.3; }
    section.sec-corpoclinico .drs-quatro [class^="dr-"] .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    section.sec-corpoclinico .drs-quatro [class^="dr-"].dr-um {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    section.sec-corpoclinico .drs-quatro [class^="dr-"].dr-dois {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    section.sec-corpoclinico .drs-quatro [class^="dr-"].dr-tres {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    section.sec-corpoclinico .drs-quatro [class^="dr-"].dr-quatro {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4; }
section.sec-corpoclinico .drs-cinco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  section.sec-corpoclinico .drs-cinco [class^="dr-"] {
    color: #3e4095;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    top: 40px;
    text-align: center;
    background-color: #f2efee;
    width: 160px;
    height: 170px; }
    section.sec-corpoclinico .drs-cinco [class^="dr-"]:hover .middle {
      opacity: 0.3; }
    section.sec-corpoclinico .drs-cinco [class^="dr-"] .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    section.sec-corpoclinico .drs-cinco [class^="dr-"].dr-um {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    section.sec-corpoclinico .drs-cinco [class^="dr-"].dr-dois {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    section.sec-corpoclinico .drs-cinco [class^="dr-"].dr-tres {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    section.sec-corpoclinico .drs-cinco [class^="dr-"].dr-quatro {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4; }
section.sec-corpoclinico .drs-seis {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }
  section.sec-corpoclinico .drs-seis [class^="dr-"] {
    color: #3e4095;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
    top: 40px;
    text-align: center;
    background-color: #f2efee;
    width: 160px;
    height: 170px; }
    section.sec-corpoclinico .drs-seis [class^="dr-"]:hover .middle {
      opacity: 0.3; }
    section.sec-corpoclinico .drs-seis [class^="dr-"] .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center; }
    section.sec-corpoclinico .drs-seis [class^="dr-"].dr-um {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    section.sec-corpoclinico .drs-seis [class^="dr-"].dr-dois {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    section.sec-corpoclinico .drs-seis [class^="dr-"].dr-tres {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    section.sec-corpoclinico .drs-seis [class^="dr-"].dr-quatro {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -moz-order: 4;
      -ms-flex-order: 4;
      order: 4; }

section.sec-medias {
  background-color: #ed3237;
  background-image: -webkit-gradient(linear, 90deg, from(#3e4095), to(#ed3237));
  background-image: -webkit-linear-gradient(90deg, #3e4095, #ed3237);
  background-image: -moz-linear-gradient(90deg, #3e4095, #ed3237);
  background-image: -ms-linear-gradient(90deg, #3e4095, #ed3237);
  background-image: -o-linear-gradient(90deg, #3e4095, #ed3237);
  background-image: linear-gradient(90deg, #3e4095, #ed3237);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#3e4095', EndColorStr='#ed3237');
  width: 100%;
  height: 500px; }
  section.sec-medias .clear {
    clear: both; }
  section.sec-medias .iframe-face {
    margin-top: 30px; }
    section.sec-medias .iframe-face span {
      margin-top: 30px;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: #FFF;
      margin-left: 118px; }
    section.sec-medias .iframe-face iframe {
      margin-top: 5px;
      margin-left: 118px; }
  section.sec-medias .iframe-insta {
    margin-top: -31px;
    float: right;
    margin-right: 120px; }
    section.sec-medias .iframe-insta span {
      margin-top: 30px;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: #FFF;
      margin-left: 190px; }
    section.sec-medias .iframe-insta blockquote {
      margin-top: 5px;
      margin-left: 190px; }

footer {
  background-color: #717070; }
  footer .clear {
    clear: both; }
  footer .box-one {
    background-color: #717070;
    width: 33%;
    height: 250px;
    float: left; }
  footer .endereco {
    margin-top: 55px;
    margin-left: 250px;
    font-size: 30px;
    color: #FFF; }
    footer .endereco span {
      text-align: center;
      padding: 0;
      margin-top: 14px;
      margin-left: 20px; }
    footer .endereco p {
      margin-right: 0;
      font-size: 16px;
      color: #FFF;
      text-align: center;
      margin-left: -128px; }
  footer .box-two {
    background-color: #717070;
    width: 33%;
    height: 250px;
    margin-left: 7px;
    float: left; }
  footer .email {
    margin-top: 55px;
    margin-left: 115px;
    font-size: 30px;
    color: #FFF; }
    footer .email span {
      text-align: center;
      padding: 0;
      margin-top: 14px;
      margin-left: 83px; }
    footer .email p {
      margin-right: 0;
      font-size: 16px;
      color: #FFF;
      text-align: center;
      margin-left: -128px; }
  footer .box-three {
    background-color: #717070;
    width: 33%;
    height: 250px;
    float: right; }
  footer .phone {
    margin-top: 55px;
    margin-left: 45px;
    font-size: 30px;
    color: #FFF; }
    footer .phone span {
      text-align: center;
      padding: 0;
      margin-top: 14px;
      margin-left: 125px; }
    footer .phone p {
      margin-right: 0;
      font-size: 16px;
      color: #FFF;
      text-align: center;
      margin-left: -128px; }
  footer .copyright {
    border-top: 1px solid #000;
    font-size: 13px;
    margin-top: 0px;
    margin-right: 50px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 40px;
    color: #FFF; }
    footer .copyright p {
      font-size: 13px;
      margin-top: 0px;
      margin-right: 50px;
      text-align: center;
      margin-bottom: 0px;
      margin-left: 40px;
      color: #FFF; }
      footer .copyright p a {
        color: #000; }
