@import ../../bower_components/sass-flex-mixin/flex
section.sec-ortomed
	.aortomed
		text-align: center
		h1
			+flexbox
			font-size: 30px			
			color: $blue
			clear: both
			display: inline-block
		p
			text-align: justify
			width: 70%
			margin-top: 20px
			clear: both
			font-size: 16px
			display: inline-block
			strong
				a
					color: $red

	.barra
		+gradient(90deg, $blue, $red)
		width: 10%
		height: 3px
		border: none
		margin: auto


	.especialidades
		+flexbox
		+align-items(center)
		+justify-content(center)
		margin: 10px 0
		text-align: center
		+flex-direction(3)

		h1
			text-transform: uppercase
			position: relative
			text-align: center
			font-size: 20px
			color: $white
			z-index: 1
			top: 90px
			font-weight: $bold

		// verificar depois .barra-white
			//+gradient(90deg, $blue, $red)
			//color: $white
			//width: 50%
			//height: 3px
			//border: none
			//margin: auto


		.img-psicologia


			h1
				text-transform: uppercase
				position: relative
				text-align: center
				font-size: 20px
				color: $black
				z-index: 1
				top: 90px
				font-weight: $bold

				// verificar depois .barra-black
					//color: $black
					//width: 50%
					//height: 3px
					//border: none
					//position: relative
					//text-align: center
					//z-index: 1
					//top: 50px


.second-main
	background-image: url('../images/fundo-rpg.jpg')
	background-repeat: no-repeat
	background-size: cover
	color: $white
	min-height: 650px
	margin-top: 60px

section.sec-rpg
	.rpg
		+flexbox
		+align-items(center)
		+justify-content(center)

		h1
			text-transform: uppercase
			position: relative
			text-align: left
			font-size: 50px
			color: $blue
			z-index: 1
			margin: auto 0
		p
			text-transform: uppercase
			position: relative
			text-align: left
			font-size: 15px
			color: $red
			z-index: 1
			top: 40px
			right: 94px


	.rpg-image
		position: absolute
		margin-top: 100px
		clear: both


	.texto-rpg
		+flexbox
		+align-items(right)
		+justify-content(right)
		margin-left: 60%
		margin-top: 200px
		p
			text-align: justify
			font-size: 20px
			font-weight: $regular
			color: $blue
			z-index: 1
	.saibamais
		+flexbox
		+align-items(right)
		+justify-content(right)
		margin-left: 70%
		margin-top: 50px
		a
			text-align: center
			font-size: 30px
			font-weight: $regular
			border: 2px solid $blue
			padding: 2px 10px
			color: $blue
			z-index: 1


section.sec-convenios
	.convenios-itens
		+flexbox
		+align-items(center)
		+justify-content(center)

		h1
			position: absolute
			text-align: center
			font-size: 30px
			color: $blue
			margin: auto 0
