section.sec-ortomed
	.aortomed
		margin: auto 0
		h1
			+flexbox
			+font-size(30px)
			text-align: center
			color: $blue
		p
			text-align: justify
			width: 70%

	.barra
		+gradient(90deg, $blue, $red)
		width: 20%
		height: 3px
		border: none
		margin-bottom: 20px
		margin: auto


	.specialidades
