footer
	.social
		float: left
		margin: 50px 0 0
		margin-left: 100px
		li
			display: inline-block
			a
				color: $blue
				float: left
				display: block
				border: 1px solid $blue
				padding: 4px
				width: 25px
				height: 25px
				line-height: 12px
				text-align: center
				+border-radius(120px)

	.telefone
		float: right
		margin: 50px 0 0
		margin-right: 100px
		clear: both
		span
			float: right
			color: $blue
			font-size: 14px
	nav
		ul
			li
				text-align: center
				display: inline-block
				margin: 20px 10px 0 0
				a
					color: $black
					text-transform: uppercase

	.logo
		text-align: center

	.logo-align
		clear: both
		display: inline-block
		margin: 10px 0 0
		margin-left: 30px