header
	+clearfix
	min-height: 650px
	background:
		image: url('../images/slide.jpg')
		position: top center
		repeat: no-repeat
		color: $white
		attachment: fixed
		size: cover

	.social
		float: left
		margin: 50px 0 0
		margin-left: 100px
		li
			display: inline-block
			a
				color: $blue
				float: left
				display: block
				border: 1px solid $blue
				padding: 4px
				width: 25px
				height: 25px
				line-height: 12px
				text-align: center
				+border-radius(120px)

	.telefone
		float: right
		margin: 50px 0 0
		margin-right: 100px
		clear: both
		span
			float: right
			color: $blue
			font-size: 14px

	.clear
		clear: both

	.logo
		text-align: center

	.logo-align
		clear: both
		display: inline-block
		margin: 10px 0 0
		margin-left: 30px

	nav
		ul
			li
				text-align: center
				display: inline-block
				margin: 20px 10px 0 0
				a
					color: $black
					text-transform: uppercase	

	.logo-ortomed-nome
		text-align: center
		margin: 160px 0 0

	.logo-ortomed-align
		clear: both
		display: inline-block
		margin: auto		
		margin-right: 130px		

	.logo-policlinica-nome
		clear: both
		display: inline-block
		margin-left: 250px
		//margin-top: 30px

	.barra
		+gradient(0deg, $blue, $red)
		margin: 10px 450px 
		//border: 1px solid $blue	
		width: 5px

	p,
	strong
		margin: 25px 0 0
		text-transform: uppercase
		color: $blue
