header
	+clearfix
	.social
		float: left

	.logo

	nav
		ul
			li
				diplay: inline-block
				a
					color: $black
					text-transform: uppercase

	.telefone
		float: right

	.logo-ortomed-nome

	.logo-policlinica-nome

	.barra

	p