header
	+clearfix
	min-height: 650px
	background:
		image: url('../images/slide.jpg')
		position: top center
		repeat: no-repeat
		color: $white
		attachment: fixed
		size: cover

	.social
		border: 3px solid $black
		float: left
		margin: 0 0 0 0
		clear: both
		li
			display: inline-block
			a
				color: $blue
				float: left

	.telefone
		float: right
		margin: 0 0 0 0
		border: 3px solid $red
		clear: both
		h1
			float: right
			color: $blue
			font-size: 14px

	.clear
		clear: both

	.logo
		clear: both
		// remover border: 3px solid $blue
		//margin: auto
		//width: 50%
		//padding: 10px

	nav
		//margin: auto
		//width: 50%
		padding: 10px
		ul
			li
				display: inline-block
				margin: 0 20px 0 0
				a
					color: $black
					text-transform: uppercase



	.logo-ortomed-nome

	.logo-policlinica-nome

	.barra

	p
